<h2>Create a new Pokemon</h2>
<form action="/pokemons" method="post">
  <input type="text" name="pokemon[name]">
  <input type="text" name="pokemon[cp]">
  <input type="submit" value="Submit New Pokemon">
</form>
