<form action="/teams/<%= @team.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="team[name]">Name:</label>
  <input name="team[name]" value="<%= @team.name %>">
  
  <input type="submit" value="Update">
</form>
