<div class="pokemon">
<h2><a href="/trainers">View All Trainers</a></h2>
</div>
<div class="pokemon">
<h2><a href="/pokemons">View All Pokemons</a></h2>
</div>
<div class="pokemon">
<h2><a href="/teams">View All Pokemons</a></h2>
</div>
