<!DOCTYPE html>
<html lang='en'>
<head>
<link rel="stylesheet" type="text/css" href="/pokestyle.css">
<meta http-equiv="content-type" content="text/php; charset=utf-8" />
<title>POKEMON</title>
</head>
  <body>
    <h1>Pokenatra</h1>
    <div class="containareon">
    <%= yield %>
    </div>
  </body>
</html>
